@charset "UTF-8";
// npx sass --watch css/style.scss css/style.css

a{
    text-decoration: none;
    color: inherit;
}

:root {
    --color-webtoon-green: #00dc64;
    /* 신규 색상 정의 */
    --color-line-secondary: #ebebeb;
}

* {
    font-family: "Pretendard", sans-serif;
}

.navbar .container-fluid {
    width: 1190px;
    margin: 0 auto;
}

.brand-navbar .bar {
    display: flex;
    align-items: center;
    color: var(--bs-border-color);
    ;
}

.global-navbar {
    padding-top: 0;
    padding-bottom: 0;

    li {
        a {
            padding: 0 18px !important;
            line-height: 55px;
            font-weight: 600;
        }

        a.active {
            background: var(--color-webtoon-green);
            color: white !important;
        }
    }
}

.sub-navbar {
    padding-top: 0;
    padding-bottom: 0;

    li {
        margin-right: 20px;

        a.active {
            position: relative;
            color: var(--color-webtoon-green) !important;
        }

        a.active::after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background: var(--color-webtoon-green);
        }
    }
}

.new-webtoon {
    width: 1190px;
    margin: 0 auto;
    margin-top: 30px;

    article {
        padding: 0;
    }

    .row {
        width: 100%;
        margin-left: 0;

        &>div {
            padding: 0;
        }
    }

    .more-new-webtoon {
        position: relative;
        text-decoration: none;
        color: #666;
        z-index: 30;
    }
}

.new-webtoon .col-4 {
    .webtoon-box {
        border: none;
        margin-right: 12px;

        .card-img {
            position: relative;
            display: flex;
            justify-content: center;
            height: 165px;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: visible;

            img {
                position: absolute;
                bottom: 1px;
                z-index: 20;
            }

            img:nth-of-type(1) {
                width: 237px;
                height: 164px;
            }

            img:nth-of-type(2) {
                width: 207px;
                height: 164px;
            }

            img:nth-of-type(3) {
                width: 226px;
                height: 181px;    
            }
            
            &:hover img {
                transform: scale(1.2);
                transform-origin: bottom;
                transition: all .7s;
            }
        }

        .card-title {
            a {
                font-size: .95rem;
                font-weight: bold;
                letter-spacing: -.4px;
            }
        }

        .card-subtitle, .card-text {
            a {
                font-size: .9rem;
                letter-spacing: -.4px;
            }
        }

        .new-webtoon-link:hover {
            text-decoration: underline;
        }
    }

    &:last-child .webtoon-box {
        margin-right: 0;
    }


    .card-body {
        margin-top: 10px;
        padding: 0;
    }
}

.ad-card {
    margin-top: 32px;
    margin-left: 30px;

    img {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 0;
    }
}

.day-webtoon {
    width: 1190px;
    margin: 0 auto;
    margin-top: 50px;

    article {
        padding: 0;

        .row {
            margin-left: 0;
            margin-right: 0;
            border: 1px solid var(--color-line-secondary);

            &>.col {
                padding: 0;
                border-right: 1px solid var(--color-line-secondary);

                &:last-child {
                    border-right: none;
                }
            }
        }

    }

    .day-box {
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            font-weight: bold;
        }

        .today {
            background-color: #00dc64;
            color: white;
        }

        .card {
            margin: 0 auto;
            margin-top: 25px;
            border: none;
            background-color: transparent;

            .poster-img {
                width: 160px;
                height: 207px;
                overflow: hidden;
                /* img가 div를 벗어나지 않게 함 */
                position: relative;
                /* img의 위치를 제어하기 위해 필요할 수 있음 */

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // 이미지가 div를 채우도록 조정
                    transition: transform 0.3s ease; // 이미지 크기 변화 시 애니메이션 효과

                    &:hover {
                        transform: scale(1.05); // hover 시 이미지 크기를 1.05배로 확대
                    }
                }
            }

            .card-body {
                padding: 5px 0;

                a {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                }

            }
        }
    }

    .today {
        background-color: #ccf8e0;
    }
}

footer {
    background: #e5e5e5;
    margin-top: 20px;
    padding: 40px 0;

    section {
        width: 1190px;
        margin: 0 auto;
    }
}